body{
	background-color: #ccc;

	margin: 0px;
}
#container {
	background-color: #fff;
	width: 800px;
	margin: auto;
}
.clearfix{
	margin: auto;
}

img{
	float: left;
	margin-right: 20em;
	margin-left: 20ex;
}
h1{
	font-size: 1.0ex;
	margin: 0;
	padding-top: 20ex;

 }
p{
  	font-size: 1.0ex;
}



