body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-decoration: dashed;
    text-align: center;
    text-transform: unset;
    text-shadow: 1cap;
}

aside p a {
    color:burlywood;
    font-style: italic;
}

p {
    font-size: larger;
}
